<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="edu.spring.ImageMapper">
  	
  	<!-- SQL 문장들을 정의 -->
	<!-- Image table -->
	
	<!-- Image 생성 -->
	<insert id="insert">
		INSERT INTO ${tbl_image}
		(${image.image})
		values (#{image})	
	</insert>
	
	<!-- 해당 프로젝트  Image 삭제  -->
	<delete id="delete">
		DELETE FROM ${tbl_board}
		WHERE ${image.ino} = #{ino}	
	</delete>  
	
	<!-- 해당 프로젝트 Image 출력 -->
	<select id="selectAll" resultType="Image">
		SELECT * FROM ${tbl_image}
		WHERE ${image.pno} = #{pno}
		ORDER BY ${image.ino} 	
	</select>
	
	<!-- 메인화면에 보여질 프로젝트의 이미지 한개만 출력 -->
	<select id="selectOneImage" resultType="Image">
		SELECT * FROM ${tbl_image}
		WHERE ${image.pno} = #{pno}
		ORDER BY ${image.ino}
		LIMIT 1
	</select>
		
	<!-- 해당 프로젝트 Image 업데이트 -->
	<update id="update">
		UPDATE ${tbl_image}
		SET ${image.image} = #{image}			
		WHERE ${image.ino} = #{ino}	
	</update>
  </mapper>