<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="edu.spring.MessageMapper">
	<!-- SQL 문장들을 정의 -->
	<!-- Message SQL 문장  -->

	<!-- 쪽지를 보낼 때 데이터 삽입 -->
	<insert id="insert">
		INSERT INTO ${tbl_message} 
		(${message.title}, ${message.content}, ${message.sender}, ${message.reciever})
		VALUES (#{title}, #{content}, #{sender}, #{reciever})
	</insert>
		
	<!-- 쪽지 삭제 -->
	<delete id="delete">
		DELETE FROM ${tbl_message}
		WHERE ${message.mno} = #{mno}
	</delete>
	
	<!-- 쪽지를 받은 유저가 해당 쪽지를 읽었을때 값 변경  -> 글씨체를 얇게 만들어주기 위해  -->
	<update id="updateRead">
		UPDATE ${tbl_message} SET ${tbl_message}.${message.read} = 1 WHERE ${message.mno} = #{mno}
	</update>
	
	<!-- User가 받은 쪽지를 역순으로 출력 -->
	<select id="selectAll" resultType="Message">
		SELECT * FROM ${tbl_message}
		ORDER BY ${message.mno} DESC
	</select>
	
	<!-- 쪽지 상세보기  -->
	<select id="selectOne" resultType="Message">
		SELECT * FROM ${tbl_message}
		WHERE ${message.mno} = #{mno}
	</select>

</mapper>