<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="edu.spring.ReplyMapper">
	<!-- SQL 문장들을 정의 -->
	<!-- Reply SQL 문장 -->
	<select id="selectAll" resultType="Reply">
		SELECT * FROM ${tbl_reply}
		WHERE (${reply.pno} = #{pno} AND ${reply.type} = #{type})
		ORDER BY ${reply.rno} DESC
	</select>
	
	<select id="selectReplyByBno" resultType="Reply">
		SELECT * FROM ${tbl_reply} WHERE ${reply.pno} = #{bno} ORDER BY ${reply.rno} DESC
	</select>
	<select id="selectPno" resultType="Reply">
		SELECT * FROM ${tbl_reply} WHERE ${reply.pno} = #{parentNumber} AND ${reply.type} = #{type} ORDER BY ${reply.rno} DESC 
	</select>
	
	<select id="selectrno" resultType="Reply">
		SELECT 
		*FROM ${tbl_reply}
		 WHERE ${reply.pno} = #{parentNumber}		 		
	</select>
	
	

	<insert id="insert">
		INSERT INTO ${tbl_reply} 
		(${reply.pno} ,${reply.content}, ${reply.userId}, ${reply.type})
		VALUES (#{parentNumber} ,#{content}, #{userId}, #{type})
	</insert>
	
	<insert id="insertrrno">
		INSERT INTO ${tbl_reply}
		(${reply.pno}, ${reply.content}, ${reply.userId}, ${reply.rrno})
		VALUES (#{parentNumber}, #{content}, #{userId}, #{rno})
	</insert>

	<update id="update">
		UPDATE ${tbl_reply}
		SET ${reply.content} = #{content},
			${reply.regDate} = CURRENT_TIMESTAMP
		WHERE ${reply.rno} = #{rno}
	</update>
	
	<update id="updaterrno">
		UPDATE ${tbl_reply}
		SET ${reply.content} = #{content},
			${reply.regDate} = CURRENT_TIMESTAMP
		WHERE ${reply.rno} = #{rno}
	</update>

	<delete id="delete">
		DELETE FROM ${tbl_reply}
		WHERE ${reply.rno} = #{rno}
	</delete>
	
	<delete id="deleterrno">
		DELETE FROM ${tbl_reply}
		WHERE ${reply.rrno} = #{rno}	
	</delete>
	

</mapper>