@charset "UTF-8";

.category {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.badge {
	margin: 15px;
}

.carousel-item {
  height: 20vh;
  min-height: 30px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  background-color: #f3969a;
  outline: 0 none;
  color: #ffffff;
}

#btnCan {
  background-color: #78c2ad;
  color: #ffffff;
}

a.progress-bar{
	background-color:#78c2ad; !important;
	animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0% { width: 5%; background-color: #78c2ad;}
  100% { width: ${projectModel.percent*100}; }
}

input#userId {
	width: 45%;
}

input#regDate {
	width: 45%;
}

input#content {
	width: 91%
}

div#btn {
	width: 50%;
}

div#btnCan {
	width: 50%;
}

@media ( max-width: 480px ) {
	input#userId {
		width: 40%;
	}

	input#regDate {
		width: 40%;
	}

	input#content {
		width: 80%
	}
}
